extends layout

block content
	h1 lib.nekobato.net
	ul.log
		for v, k in data
			li
				span.time #{v.time} 
				a(href="#{site}article/#{v.id}") #{v.title}
	article.article(data-id= article.id)
		h2
			a(href=site + "article/" + article.id) #{article.title}
		p.time #{article.time}
	div.comment
		span.comment-opener comment
		form.comment-sender(style="display:none")
			input(type="hidden" name="id" value= article.id)
			textarea(name="body").comment-body
			input(type="submit") send
	footer
		a(href="//nekobato.net") © 2013 nekobato.net
	script(type='text/javascript', src='/javascripts/script.js')