!!! xml
rss(version="2.0" encoding="UTF-8")
	channel
		description nekobato blog
		titile lib.nekobato.net
		generator nekobato.net
		language ja-jp
		pubDate #{pubDate}
		link http://lib.nekobato.net/
		for v in data
			item
				title= v.title
				description http://lib.nekobato.net/article/#{v.id}
				link http://lib.nekobato.net/article/#{v.id}
				guide http://lib.nekobato.net/article/#{v.id}
