doctype xml
rss(version="2.0" encoding="UTF-8")
  channel
    description nekobato blog
    title lib.nekobato.net
    generator nekobato.net
    language ja-jp
    pubDate #{pubDate}
    link http://lib.nekobato.net/
    for v in articles
      item
        title #{v.title}
        description #{v.body}
        link http://lib.nekobato.net/article/#{v.id}
        guide http://lib.nekobato.net/article/#{v.id}